*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f3f3f3;
}
.landing-page{
    background: url(./images/hero.png);
    background-size: cover;
    width: 100%;
    height: 100vh; 
}
.landing-page::before{
    content:"";
    inset: 0;
    position: absolute;
    background-color: rgba(0,0,0,.5);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    border-bottom: 1px solid #000; 
}
.logo{
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
.login-area{
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;

}
.login-area i{
    color: #fff;
}
.register{
    background-color: rgb(90, 199, 235);
    border-radius: 5px;
    padding: 10px;
}
.landing-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
}
.landing{
    z-index: 1;
    width: 80vh;
}
.heading,.heading h1,.heading p,.btn-area{
    margin: 20px;
    /* padding: 20px; */
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{   
    text-transform: capitalize;
    font-weight: 700;
    font-size: 28px;
}
.btn-area{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-area a{
    border-radius: 25px;
    padding: 12px;
    border: 1px solid #fff;
}
.btn-area .quote{
    background-color: rgb(90, 199, 235);
    border: none;
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12vh;
    position: relative;
}
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
    background-color: #fff;
}
.goals2,.vision2{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    gap: 1rem;
}
.card,.card1{
    border: none;
    flex: 1;
    height: 25vh;
    background-color: white;
}
.card i,.card h2,.card p,.card1 i,.card1 h2,.card1 p{
    margin: 3%;
}
.card i,.card1 i{
    width: 1rem;
    height: 1rem;
    color: aqua;
}
.card h2, .card1 h2{
    text-transform: capitalize;
}
#blue{
    color: white;
    background-color: aqua;
}
#blue i{
    color: #fff;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.industry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vh;
    flex-direction: column;
    margin: 5%;
}
.test-list{
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 90vw;
}
.card2{
    height: 35%;
    margin-top: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
}
.card2 img{
    width: 50%;
    height: 50%;
}
.brands{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}
.brands img{
    width: 10%;
    height: 10%;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.newsletter2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 90vw;
    background-image: linear-gradient(to right,purple,pink);
    color: #fff;
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe #text{
    padding: 3%;
}
.subscribe .btn{
    background-color: rgb(58, 176, 216);
    color: white;
    border: none;
    padding: 3%;
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.price-head{
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.price-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.card3{
    border: 1px solid aqua;
    border-radius: 10px;
    height: 80vh;
    padding: 5%;
}
.card3 h1,.card3 p,.card3 a{
    margin-top: 5%;
}
.card3 h1{
    text-transform: uppercase;
}
.price{
    color: aqua;
    font-weight: 700;
    font-size: 20px;
}
.card3 a{
    width: 10rem;
    background-color: aqua;
}
.world{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    color: #f3f3f3;
}
.world2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: navy;
    color: #f3f3f3;
    width: 90vw;
    height: 60vh;
}
.map img{
    width: 50vw;
    height: 40vh;
}
.appointment{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -20vh;
}
.appointment2{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fam,.form{
    height: 70vh;
    background-color: #fff;
}
.fam img{
    width: 100%;
    height: 100%;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}
.form form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
.contact2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}
.cnt a{
    padding: 15%;
    background-color: aqua;
    color: white;
    border-radius: 5%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.foot{
    height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.card5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card5 h3,.card5 ul,.card5 li{
    margin-top: 10%;
}
@media (min-width:850px){
    .login-area i{
        display: none;
    }
}
@media (max-width:850px) {
    .landing-page{
        background: linear-gradient(to bottom,aqua,aquamarine);
    }
    .navbar{
        display: none;
    }
    .map{
        display: none;
    }
}
@media(max-width:650px){
    .goals2,.vision2,.test-list,.price-card,.contact2,.appointment2,.newsletter2{
        flex-direction: column;
    }
    .appointment{
        margin-top: 0;
    }
    .fam{
        display: none;
    }
    .foot{
        flex-wrap: wrap;
    }

}
@media (max-width: 500px){
    .login,.register{
        display: none;
    }
}