*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid #000;
    background-color: blue;
}
.logo{
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
.login-area{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.register{
    background-color: rgb(90, 199, 235);
    border-radius: 5px;
    padding: 10px;
}